/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
  font-family: "Harmonia Sans", sans-serif;
  src: url('../fonts/HarmoniaSansProCyr-Regular.ttf');
}

@font-face {
  font-family: "Avenir Next", sans-serif;
  src: url('../fonts/AvenirNextLTPro-regular.otf');
}

*, html {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

:root{
  --background-dark: #19233e;
  --colorfont-header: white;
  --colorbutton: #088901;
  --tekst-light: white;
  --tekst-dark: black;
  --primary-font: "Harmonia Sans", sans-serif;
  --secundary-font: "Avenir Next", sans-serif;
  
}

/* header */
header {
  background-color: var(--background-dark);
  color: var(--colorfont-header);
  text-align: center;
  font-family: var(--primary-font);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header p {
  text-align: center;
  font-family: var(--secundary-font);
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 10px;
  color: var(--colorfont-header);
}

header nav {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  position: sticky;
  top: 80px;
  width: 100%;
}

header ul {
  display: flex;
}

header ul li {
  width: 1em  ;
  margin: .5em;
}

header nav img {
  width: 100px;
  margin: 10px auto ;
}


header nav img.shoppingcart {
  width: 2em;
}



/* main */

.producten {
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}

main img.product {
  margin: 0px auto  ;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

ul li a p {
  font-family: var(--secundary-font);
  font-weight: lighter;
  font-size: 14px;
  padding: 20px 35px;
}


p {
  color: var(--tekst-dark);
  text-decoration: none;
  text-align: center;
}


.buttona {
  text-decoration: none;
  color: var(--tekst-light);
  
}

button {
  background-color: var(--colorbutton) ;
  color: var(--tekst-light)  ;
  border: none;
  padding: 12px 30px;
  margin: 80px auto;
  display: flex;
  align-content: center;
}

/*--------------*/


li {
  list-style: none;
}

a {
  text-decoration: none;
}


h2 {
  font-family: var(--primary-font);
  letter-spacing: 0.1em;
  font-size: 34px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1em;
  color: #1d2237;
}

h3 {
  font-family: var(--primary-font);
  letter-spacing: .1em;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.5em;
  color: #1d2237;
}
/* ons verhaal */ 

.onsverhaal  {
  margin: 30px;
}

.onsverhaal p {
  font-family: var(--secundary-font);
  font-size: 14px;
  text-align: left;
}

.onsverhaal h2 {
  font-family: var(--primary-font);
  text-align: left;
  margin-top: .2em;
}

.onsverhaal button {
  text-align: left;
  display: inline-block;
  margin-top: 20px;
}
/* Kleding */ 

.kleding { 
  display: grid;
  grid-template-columns: 50%;
}

.kleding a {
  padding: 1.5em;
  font-family: var(--secundary-font);
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 2em;
}

/* Stelz bij jou in de buurt? */ 

main .indebuurt {
  background-color: var(--background-dark);
  padding: 3em 0;
  margin-bottom: 3em;
}

main .indebuurt h2 {
  color: var(--tekst-light);
  font-family: var(--primary-font);
}


main .indebuurt p {
  color: var(--tekst-light);
  font-family: var(--secundary-font);
  font-size: 14px;;
  padding: 0 1em;
}

main .indebuurt button {
  margin-bottom: 0;
  margin-top: 2em;
}

/* socialmedia ---------------------------*/ 
 
.socialmediafotos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .5em;
  margin: 0px 2em 4em 2em;

}

/* footer--------------------------------- */

footer {
  background-color: var(--background-dark);
  padding: 1em;
}

footer h3 {
  color: var(--tekst-light);
  text-align: left;
  padding-top: 1em;
  font-size: 14px;
  font-family: var(--primary-font);
  padding-top: 40px;
}

footer p {
  color: var(--tekst-light);
  text-align: left;
  padding: .8em .0em;
  font-size: 14px;
  font-family: var(--secundary-font);
}

footer .minderjarig {
  font-style: italic;
  
}

footer a {
  color: var(--tekst-light);
  text-align: left;
  font-size: 14px;
}

footer .firstWord {
  font-weight: bold;
}

footer ul {
  display: flex;
}

footer ul li {
  width: 20px;
  margin: 10px;
}

footer input {
  width: 70%;
  padding: 15px ;
  margin: 20px 30px;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid white;
  color: var(--tekst-light);
}

footer form {
  display: flex;
}

footer form img {
  width: 20px ;
  height: 20px;
  margin-top: 35px;
}

/* footer end --------------------------------- */