/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
  font-family: "Harmonia Sans", sans-serif;
  src: url(fonts/HarmoniaSansProCyr-Regular.ttf);
  font-weight: 900;
}

*, html {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

:root{
  --background-header: #19233e;
  --colorfont-header: white;
  --colorbutton: #088901;
  --tekst-light: white;
  --tekst-dark: black;
  --primary-font: 'Harmonia Sans';
  --secundary-font: 'quicksand, sans-serif';
  
}

/* css header */
header {
  background-color: var(--background-header);
  color: var(--colorfont-header);
  text-align: center;
  font-family: var(--primary-font);
  text-transform: uppercase;
}

header p {
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 20px;
  color: var(--colorfont-header);
}

header nav {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  position: fixed;
  top: 80px;
  width: 100%;
}

header nav img {
  width: 100px;
  margin: 10px auto ;
}

header nav img.shoppingcart {
  width: 2em;
}


header ul {
  width: 90px;
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: center;
}

header ul li {
  display: flex;
  justify-content: center;
}


/* css main */

.producten {
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}

main img.product {
  margin: 0px auto  ;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

ul li a p {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
  padding: 20px 35px;
}


p {
  color: var(--tekst-dark);
  text-decoration: none;
  text-align: center;
}


.buttona {
  text-decoration: none;
  color: var(--tekst-light);
  
}

button {
  background-color: var(--colorbutton) ;
  color: var(--tekst-light)  ;
  border: none;
  padding: 12px 30px;
  margin: 80px auto;
  display: flex;
  align-content: center;
}

/*--------------*/


li {
  list-style: none;
}

a {
  text-decoration: none;
}


h2 {
  font-family: sans-serif;
  letter-spacing: 0.1em;
  font-size: 34px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1em;
  color: #1d2237;
}

h3 {
  font-family: sans-serif;
  letter-spacing: .1em;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.5em;
  color: #1d2237;
}
